DevelopersDays.Back/bin/Debug/netcoreapp2.2/DevelopersDays.Back.deps.json
DevelopersDays.Back/bin/Debug/netcoreapp2.2/DevelopersDays.Back.dll
DevelopersDays.Back/bin/Debug/netcoreapp2.2/DevelopersDays.Back.pdb
DevelopersDays.Back/bin/Debug/netcoreapp2.2/DevelopersDays.Back.runtimeconfig.dev.json
DevelopersDays.Back/bin/Debug/netcoreapp2.2/DevelopersDays.Back.runtimeconfig.json
DevelopersDays.Back/bin/Release/netcoreapp2.2/DevelopersDays.Back.deps.json
DevelopersDays.Back/bin/Release/netcoreapp2.2/DevelopersDays.Back.dll
DevelopersDays.Back/bin/Release/netcoreapp2.2/DevelopersDays.Back.pdb
DevelopersDays.Back/bin/Release/netcoreapp2.2/DevelopersDays.Back.runtimeconfig.dev.json
DevelopersDays.Back/bin/Release/netcoreapp2.2/DevelopersDays.Back.runtimeconfig.json
DevelopersDays.Back/bin/Release/netcoreapp2.2/publish/appsettings.Development.json
DevelopersDays.Back/bin/Release/netcoreapp2.2/publish/appsettings.json
DevelopersDays.Back/bin/Release/netcoreapp2.2/publish/DevelopersDays.Back.deps.json
DevelopersDays.Back/bin/Release/netcoreapp2.2/publish/DevelopersDays.Back.dll
DevelopersDays.Back/bin/Release/netcoreapp2.2/publish/DevelopersDays.Back.pdb
DevelopersDays.Back/bin/Release/netcoreapp2.2/publish/DevelopersDays.Back.runtimeconfig.json
DevelopersDays.Back/bin/Release/netcoreapp2.2/publish/web.config
DevelopersDays.Back/obj/DevelopersDays.Back.csproj.nuget.cache
DevelopersDays.Back/obj/DevelopersDays.Back.csproj.nuget.dgspec.json
DevelopersDays.Back/obj/DevelopersDays.Back.csproj.nuget.g.props
DevelopersDays.Back/obj/DevelopersDays.Back.csproj.nuget.g.targets
DevelopersDays.Back/obj/project.assets.json
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.AssemblyInfo.cs
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.AssemblyInfoInputs.cache
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.assets.cache
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.csproj.CoreCompileInputs.cache
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.csproj.FileListAbsolute.txt
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.csprojAssemblyReference.cache
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.dll
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.pdb
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.RazorAssemblyInfo.cache
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.RazorAssemblyInfo.cs
DevelopersDays.Back/obj/Debug/netcoreapp2.2/DevelopersDays.Back.RazorTargetAssemblyInfo.cache
DevelopersDays.Back/obj/Debug/netcoreapp2.2/project.razor.json
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.AssemblyInfo.cs
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.AssemblyInfoInputs.cache
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.assets.cache
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.csproj.CoreCompileInputs.cache
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.csproj.FileListAbsolute.txt
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.csprojAssemblyReference.cache
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.dll
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.pdb
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.RazorAssemblyInfo.cache
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.RazorAssemblyInfo.cs
DevelopersDays.Back/obj/Release/netcoreapp2.2/DevelopersDays.Back.RazorTargetAssemblyInfo.cache
DevelopersDays.Front/bin/Debug/netcoreapp2.2/DevelopersDays.Front.deps.json
DevelopersDays.Front/bin/Debug/netcoreapp2.2/DevelopersDays.Front.dll
DevelopersDays.Front/bin/Debug/netcoreapp2.2/DevelopersDays.Front.pdb
DevelopersDays.Front/bin/Debug/netcoreapp2.2/DevelopersDays.Front.runtimeconfig.dev.json
DevelopersDays.Front/bin/Debug/netcoreapp2.2/DevelopersDays.Front.runtimeconfig.json
DevelopersDays.Front/bin/Debug/netcoreapp2.2/publish/DevelopersDays.Front.deps.json
DevelopersDays.Front/bin/Debug/netcoreapp2.2/publish/DevelopersDays.Front.dll
DevelopersDays.Front/bin/Debug/netcoreapp2.2/publish/DevelopersDays.Front.pdb
DevelopersDays.Front/bin/Debug/netcoreapp2.2/publish/DevelopersDays.Front.runtimeconfig.json
DevelopersDays.Front/bin/Release/netcoreapp2.2/DevelopersDays.Front.deps.json
DevelopersDays.Front/bin/Release/netcoreapp2.2/DevelopersDays.Front.dll
DevelopersDays.Front/bin/Release/netcoreapp2.2/DevelopersDays.Front.pdb
DevelopersDays.Front/bin/Release/netcoreapp2.2/DevelopersDays.Front.runtimeconfig.dev.json
DevelopersDays.Front/bin/Release/netcoreapp2.2/DevelopersDays.Front.runtimeconfig.json
DevelopersDays.Front/bin/Release/netcoreapp2.2/publish/DevelopersDays.Front.deps.json
DevelopersDays.Front/bin/Release/netcoreapp2.2/publish/DevelopersDays.Front.dll
DevelopersDays.Front/bin/Release/netcoreapp2.2/publish/DevelopersDays.Front.pdb
DevelopersDays.Front/bin/Release/netcoreapp2.2/publish/DevelopersDays.Front.runtimeconfig.json
DevelopersDays.Front/obj/DevelopersDays.Front.csproj.nuget.cache
DevelopersDays.Front/obj/DevelopersDays.Front.csproj.nuget.dgspec.json
DevelopersDays.Front/obj/DevelopersDays.Front.csproj.nuget.g.props
DevelopersDays.Front/obj/DevelopersDays.Front.csproj.nuget.g.targets
DevelopersDays.Front/obj/project.assets.json
DevelopersDays.Front/obj/Debug/netcoreapp2.2/DevelopersDays.Front.AssemblyInfo.cs
DevelopersDays.Front/obj/Debug/netcoreapp2.2/DevelopersDays.Front.AssemblyInfoInputs.cache
DevelopersDays.Front/obj/Debug/netcoreapp2.2/DevelopersDays.Front.assets.cache
DevelopersDays.Front/obj/Debug/netcoreapp2.2/DevelopersDays.Front.csproj.CoreCompileInputs.cache
DevelopersDays.Front/obj/Debug/netcoreapp2.2/DevelopersDays.Front.csproj.FileListAbsolute.txt
DevelopersDays.Front/obj/Debug/netcoreapp2.2/DevelopersDays.Front.csprojAssemblyReference.cache
DevelopersDays.Front/obj/Debug/netcoreapp2.2/DevelopersDays.Front.dll
DevelopersDays.Front/obj/Debug/netcoreapp2.2/DevelopersDays.Front.pdb
DevelopersDays.Front/obj/Release/netcoreapp2.2/DevelopersDays.Front.AssemblyInfo.cs
DevelopersDays.Front/obj/Release/netcoreapp2.2/DevelopersDays.Front.AssemblyInfoInputs.cache
DevelopersDays.Front/obj/Release/netcoreapp2.2/DevelopersDays.Front.assets.cache
DevelopersDays.Front/obj/Release/netcoreapp2.2/DevelopersDays.Front.csproj.CoreCompileInputs.cache
DevelopersDays.Front/obj/Release/netcoreapp2.2/DevelopersDays.Front.csproj.FileListAbsolute.txt
DevelopersDays.Front/obj/Release/netcoreapp2.2/DevelopersDays.Front.csprojAssemblyReference.cache
DevelopersDays.Front/obj/Release/netcoreapp2.2/DevelopersDays.Front.dll
DevelopersDays.Front/obj/Release/netcoreapp2.2/DevelopersDays.Front.pdb
